<!DOCTYPE html>
<html ng-app="angular">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Persona</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=201806071228">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
</head>

<body ng-controller="controller"></body>
<div class="header">
	<h1>User Persona</h1>
</div>
<div></div>
<select class="top-right" ng-model="model" ng-options="persona.Select for persona in Personas track by persona.Id"></select>
<div class="container">
	<div class="col">
		<div class="message row" id="motives">
			<h2>{{model.Name}}</h2>
			<img alt="Person" ng-src="{{model.Photo}}">
			<p class="text-center quote">"{{model.Quote}}"</p>
			<ul>
				<li>
					<strong>Age: </strong>{{model.Age}}</li>
				<li>
					<strong>Occupation: </strong> {{model.Occupation}}</li>
				<li>
					<strong>Family: </strong>{{model.Family}}</li>
				<li>
					<strong>Location: </strong>{{model.Location}}</li>
				<li>
					<strong>Character:</strong> {{model.Character}}</li>
			</ul>
		</div>
		<div class="row" id="fears">
			<h2>Personality</h2>
			<ul>
				<li ng-repeat="item in model.PersonalityTraits">
					{{item.Name}}
					<br>
					<progress ng-value="item.Value" max="100"></progress>
				</li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class=" row" id="business">
			<h2>Goals</h2>
			<ul>
				<li ng-repeat="goal in model.Goals">{{goal}}</li>
			</ul>
		</div>
		<div class="message cinzinha row" id="users">
			<h2>Frustrations</h2>
			<ul>
				<li ng-repeat="frustration in model.Frustrations">{{frustration}}</li>
			</ul>
		</div>
		<div class="message is-link row" id="uvp">
			<h2>Bio</h2>
			<p>{{model.Bio}}</p>
		</div>
	</div>
	<div class="col">
		<div class=" message row is-primary" id="competitive-advantages">
			<h2>Motivations</h2>
			<ul>
				<li ng-repeat="item in model.Motivations">
					{{item.Name}}
					<br>
					<progress ng-value="item.Value" max="100"></progress>
				</li>
			</ul>
		</div>
		<div class="card row" id="alternatives">
			<h2>Brands</h2>
			<ul class="brands">
				<li class="pic" ng-repeat="item in model.Brands">
					<img src={{item.Name}}>
				</li>
			</ul>
		</div>
		<div class=" row" id="solutions">
			<h2>Preferred Channels</h2>
			<ul>
				<li ng-repeat="item in model.PreferredChannels">
					{{item.Name}}
					<br>
					<progress ng-value="item.Value" max="100"></progress>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="app.js"></script>
</body>

</html>